{{ define "content" }}

<h1 class="title is-4 has-text-centered">Achivee</h1>

<div class="container is-max-desktop auth-container">
  <div class="columns is-desktop">
    <div class="column is-flex is-hidden-mobile is-hidden-tablet-only">
      <img src="/static/images/approvee.png" />
    </div>
    <div class="column">
      <h1 class="title is-1">Achieve <span class="has-text-weight-normal" > Anything </span> </h1>
      <div class="tabs is-centered">
        <ul>
          <li class="is-active">
            <a>
              <span class="icon is-small">
              </span>
              <span>Sign Up</span>
            </a>
          </li>
          <li>
            <a>
              <span class="icon is-small">
              </span>
              <span>Sign In</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="container">
        <div class="field">
          <label class="label">First Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="First Name" />
          </div>
        </div>
        <div class="field">
          <label class="label">Last Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Last Name" />
          </div>
        </div>
        <div class="field">
          <label class="label"> Email </label>
          <div class="control">
            <input class="input" type="text" placeholder="Email" />
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="text" placeholder="Password" />
          </div>
        </div>
        <div class="field">
          <label class="label"> Confirm Password </label>
          <div class="control">
            <input class="input" type="text" placeholder="Confirm Password" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}}
