{{ define "layout" }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <title> Improvee Clone </title>
    <link
      rel="stylesheet"
      href="/static/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="/static/css/app.css"
    />
    {{/* <script src="https://kit.fontawesome.com/ecd9b7c8af.js" crossorigin="anonymous"></script> */}}
  </head>
  <body style="background-color: #FCFCFC">    
      <main style="padding-top: 1rem">
         {{ template "content" .  }}
      </main>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </body>
</html>

{{end}}